<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <link rel="stylesheet" href="/stylesheets/invoice.css">
</head>
<body>
  <div class="invoice-container">
    <h1>The total price is ₹<%= price %></h1>
    <h1>Payment Successful! Your product will be delivered in 2–3 days</h1>
    <h1>Owner ID: <%= ownerid %></h1>
    <a href="/home">Go back</a>
  </div>
</body>
</html>
